# {{ ansible_managed }}

# This ID must be unique across the cluster
jira.node.id = {{ hostvars[inventory_hostname]['ansible_eth0']['ipv4']['address'] }}
# The location of the shared home directory for all JIRA nodes
jira.shared.home = {{ jira_dc_web_appdir }}/data/shared
