<?xml version="1.0" encoding="UTF-8"?>
<!-- {{ ansible_managed }} -->

<jira-database-config>
  <name>defaultDS</name>
  <delegator-name>default</delegator-name>
  <database-type>postgres72</database-type>
  <schema-name>public</schema-name>
  <jdbc-datasource>
    <url>jdbc:postgresql://{{ hostvars[groups['pghosts'][0]]['ansible_eth0']['ipv4']['address'] }}:5432/{{ jira_dc_db }}?autoReconnect=true</url>
    <driver-class>org.postgresql.Driver</driver-class>
    <username>{{ jira_dc_db_user }}</username>
    <password>{{ jira_dc_db_pw }}</password>
    <pool-min-size>20</pool-min-size>
    <pool-max-size>40</pool-max-size>
    <pool-max-wait>30000</pool-max-wait>
    <pool-max-idle>10</pool-max-idle>
    <pool-remove-abandoned>true</pool-remove-abandoned>
    <pool-remove-abandoned-timeout>300</pool-remove-abandoned-timeout>

    <validation-query>select version();</validation-query>
    <min-evictable-idle-time-millis>60000</min-evictable-idle-time-millis>
    <time-between-eviction-runs-millis>300000</time-between-eviction-runs-millis>

    <pool-test-on-borrow>false</pool-test-on-borrow>
    <pool-test-while-idle>true</pool-test-while-idle>
  </jdbc-datasource>
</jira-database-config>
