# {{ ansible_managed }}

error_page 502 @update;
proxy_next_upstream error timeout http_502;


server {
    listen              8443 ssl;
    server_name         {{ jira_dc_url | regex_replace('https://') }} _;

    access_log            /var/log/nginx/jira-access.log;
    error_log             /var/log/nginx/jira-error.log warn;

    ssl_session_cache  builtin:1000  shared:SSL:10m;
    ssl_session_timeout 10m;

    ssl_protocols       TLSv1.2;
    ssl_ciphers 'ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256';
    ssl_prefer_server_ciphers on;

    ssl_certificate    {{ jira_dc_web_ssl_cert }};
    ssl_certificate_key {{ jira_dc_web_ssl_key }};

    location /images/ {
        root {{ jira_dc_web_appdir }}/app/atlassian-jira;
    }

#    location /rest/api/latest/serverInfo {
#        default_type application/json;
#        return 200 '{"passed":false}';
#    }

    location / {
        client_max_body_size 20m;
        proxy_http_version 1.1;
        proxy_pass      http://127.0.0.1:{{ jira_dc_tomcat_port }};
        proxy_set_header Connection "";
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_cookie_path / "/; SameSite=None; Secure";
    }

    location @update {
        default_type text/html;
        return 200 '<html><center><p>The JIRA Data Center Node {{ inventory_hostname }} is Unavailable</br></p></center></html>';
    }
}
