# {{ ansible_managed }}
[Unit]
Description=JIRA Data Center
Wants=network-online.target 
After=syslog.target network-online.target

[Service]
Environment=JAVA_HOME={{ jira_dc_web_appdir }}/jdk-{{ openjdk_ver }}+{{ openjdk_build }}

Environment=CATALINA_BASE={{ jira_dc_web_appdir }}/app
Environment=CATALINA_HOME={{ jira_dc_web_appdir }}/app

LimitNOFILE=65535
PIDFile={{ jira_dc_web_appdir }}/app/work/catalina.pid

User={{ jira_dc_user }}
Group={{ jira_dc_user }}

ExecStart={{ jira_dc_web_appdir }}/app/bin/start-jira.sh

ExecStop={{ jira_dc_web_appdir }}/app/bin/stop-jira.sh

[Install]
WantedBy=multi-user.target
